<div class="container-fluid box-shadow--8dp">
    <h2>Contact: {{model.json.contactId}}</h2>
    <form>
        {{input/md-input-text value=model.json.contactId
        placeholder="User assigned Contact ID" label="Contact ID"}}

        {{input/md-input-text value=model.json.organizationName
        placeholder="Organization Name" label="Organization Name"}}

        {{input/md-input-text value=model.json.individualName
        placeholder="Individual Name" label="Individual Name"}}

        {{input/md-input-text value=model.json.positionName
        placeholder="If Individual Name, provide Position" label="Position Name"}}

        {{input/md-object-phone-array phoneBook=model.json.phoneBook}}

        {{input/md-object-address address=model.json.address}}

        {{input/md-object-online-resource-array model=model.json propertyArrayName="onlineResource"
        label="Online Resource" attributes="name, uri" }}

        {{input/md-input-text value=model.json.contactInstructions
        placeholder="Supplemental Contact Instructions" label="Contact Instructions"}}

        <button type="submit" {{action "saveContact"}} class="btn btn-success">Save</button>
        <button {{action "cancelContact"}} class="btn btn-warning">Cancel</button>
    </form>
    <br>
</div>
