<div id="md-wrapper">

  <!-- Sidebar -->
  <div id="md-sidebar-wrapper">
    {{md-nav-sidebar}} {{md-help}}
  </div>
  <!-- /.md-sidebar-wrapper -->

  <!-- Page Content -->
  <div id="md-page-content-wrapper">
    <div id="md-navbars">
      {{md-nav-main}} {{md-breadcrumb}} {{md-nav-secondary}}
    </div>

    <div id="md-page-content" class="container-fluid">
      {{outlet}}
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
