<div class="form-group border">
    <div class="form-group">
        {{#if label}}
            <label>{{label}}</label>
        {{/if}}
        <button {{action "addItem" items}} class="btn btn-success btn-xs pull-right">Add</button>
        {{#each items key="@index" as |inputItem index|}}
            <div class="input-group">
                {{input type="text"
                value=inputItem.val
                placeholder=placeholder
                class="form-control"}}
                <span class="input-group-btn">
                <button {{action "deleteItem" items index}} class="btn btn-warning btn-sm">Delete!</button>
            </span>
            </div>
        {{/each}}
    </div>
    {{yield}}
</div>
